<div class="container-fluid">

    <!--Overview-->
    <div class="row">
        <div class="col-md-2"></div>
    
        <div class="col-md-3">
    
        </div>
    
        <div class="col-md-5">
            <h2>Q Corporation Examinations and Evaluations</h2>
            <p>This application is here to assist in your assessment and determine if your skills match with organizational standards.</p>
            <br>
            <p>Below are a two exams relevant to this process. We encourage you to prepare accordingly before starting and find a good
                time/location as well. 
            </p>
        </div>
    
        <div class="col-md-2"></div>
    </div>
    
    <!--Exams-->
    <div class="row">
        <div class="col-md-1"></div>
    
        <!--Javascript-->
        <div class="col-md-5">
            <h3>JavaScript Exam</h3>
            <p>
                Test your knowledge in JavaScript with this 10 question exam. Feedback will be given at the end after submission. Questions will
                go over the topic holistically.
            </p>
            <a routerLink="/test">Start Exam</a>
        </div>
    
        <!--SQL-->
        <div class="col-md-5">
            <h3>SQL Exam</h3>
            <p>Test your knowledge in SQL with this 10 question exam. Feedback will be given at the end after submission. Questions will
                go over the topic holistically.
            </p>
            <a routerLink="/test">Start Exam</a>
        </div>
        
        <div class="col-md-1"></div>
    </div>
    
    <!--Test Area-->
    <div class="row">
    
        <div class="col-md-1"></div>
    
        <div class="col-md-10">
            
        </div>
    
        <div class="col-md-1"></div>
    
    
    </div>
    
    </div>
    <main class="container test">
      <div class="jumbotron">
        <h3>Exam</h3>
        <router-outlet>
    
        </router-outlet>
    </div>  
    </main>
    
    

