<div class="container">
    <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-10" >
            <div *ngFor = "let t of test">
                <h2>Q Corp.</h2>
                <h3>{{t.testName}}</h3>
                <p [innerHTML] = "currentQuestion().question"></p>
            </div>
       </div>
       <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div *ngFor = "let option of currentQuestion().options">
           {{option.optionID}} <input type="radio" name="testOption" value="option.optionID" (click) = "logAnswer(option.questionID,option.optionID)">{{option.optionDesc}}
        </div>
        <div >
            <p></p>
            <button (click)="prevQuestion()">Previous</button>
            <button (click)="nextQuestion()">Next</button>
            <button (click)="processResults()">Submit</button>
            <p [innerHTML]="this.result"></p>
        </div>
    </div>
</div>
